/* - - - Website font - - - */
.raleway-normal> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* - - - shared CSS - - -  */
/* * {
    margin: 0 auto;
} */

.primary-color {
    color: #4E47FF;
}

header {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.logo h1 {
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4E47FF;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;

}

nav button {
    font-size: 16px;
    font-weight: 700px;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
}

nav button:hover {
    background-color: #04AA6D;
    color: white;
}

.banner-content{
    text-align: center;
    margin-top: 309px;
    margin-bottom: 237px;
    margin-right: 267px;
    margin-left: 267px;
}

.banner-content a {
    text-decoration: none;
    color: white;
}

.banner-content button {
    color: white;
    font-size: 16px;
    font-weight: 700px;
    height: 48px;
    width: 174px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    margin-top: 37px;

}

.banner-content button:hover{
    background-color: #04AA6D;
    color: white;
}

/* - - - Action Section - - -  */
.action-section {
    display: flex;
    width: 1140px;
    padding-top: 116px;
    padding-right: 160px;
    padding-left: 140px;
    padding-bottom: 116px;
    margin: 0 auto;
    gap: 220px;

}

.action-title {
    font-size: 42px;
    font-weight: 700px;
    color: #252432;
    margin-bottom: 23px;

}

.action-description {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
    margin-bottom: 23px;
}

.action-button {
    color: white;
    font-size: 16px;
    font-weight: 700px;
    height: 48px;
    width: 229px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    margin-top: 37px;
    margin-bottom: 62px;
}

.action-button:hover {
    background-color: #04AA6D;
    color: white;
}

.action-image img {
    border-radius: 48px;
    height: 328px;
    width: 403px;

}

.productive-section {
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    border-radius: 24px;
    margin: 120px auto;
    justify-items: center;
    /* margin-top: 116px;
    margin-right: 160px;
    margin-left: 140px;
    margin-bottom: 137px;
    position: absolute; */
}

.productive-content {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 142px;
    margin-right: 142px;
}

.productive-title {
    font-size: 38px;
    font-weight: 700px;
    color: #252432;
    margin-bottom: 40px;
    padding-top: 50px;
    text-align: center;

}

.productive-data {
    display: flex;
    gap: 158px;
    justify-content: space-around;
}

.productive-data h1 {
    font-size: 80px;
    font-weight: 700px;
    color: #4E47FF;
}

.productive-data p {
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}

/* - - - Focus better section - - -  */

.focus-better-section {
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 697px;
    border-radius: 14px;
    margin: 120px auto;
    justify-items: center;
}

.focus-better-content h1 {
    font-size: 50px;
    font-weight: 700px;
    text-align: center;
    padding-top: 71px;
}

.focus-better-content p {
    text-align: center;
    margin-top: 20px;
}

.focus-better-content button {
    color: white;
    font-size: 16px;
    font-weight: 700px;
    height: 48px;
    width: 229px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 472px;
    margin-right: 472px;
}

.focus-better-content button:hover {
    background-color: #04AA6D;
    color: white;
}

.focus-better-section .big-image {
    width: 840px;
    height: 365px;
    border-radius: 48px;
    justify-items: center;

}

/* - - - Form Section - - -  */

section .form-section {
    display: flex;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 120px auto;
    gap: 115px;
    justify-items: center;
    height: 632px;
    max-width: 1140px;
    border-radius: 15px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 71px;
    padding-bottom: 71px;
}

.get-in-touch {
    font-size: 97px;
    font-weight: 700px;
    color: #000000;
    padding-top: 200px;
    padding-bottom: 200px;
}

.form-field-section input {
    height: 55px;
    width: 497px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 19px;

}

.form-field-section legend {
    font-size: 18px;
    font-family: 500px;
}

.form-field-section textarea {
    height: 167px;
    width: 497;
    border-radius: 10px;
}

.form-section button {
    color: white;
    font-size: 16px;
    font-weight: 700px;
    height: 62px;
    max-width: 497pxpx;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 225px;
    padding-right: 225px;
    text-align: center;
}

.form-section button:hover {
    background-color: #04AA6D;
    color: white;
}


/* - - - Footer Section - - -  */
footer {
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 454px;
    padding-right: 454px;
    justify-items: center;
}

footer h1 {
    font-size: 100px;
    font-weight: 900px;
    color: #4E47FF;
}

footer p {
    color: #8987A1;
    padding-bottom: 20px;
}

footer ul {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 50px;
}

footer ul a {
    text-decoration: none;
    color: black;
}